/*CSS stylesheet for Budget Bod project*/

.navbar-brand{
  color: #EDD100;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #005900;
}

li{
  float: left;
}

li a {
  display: block;
  color:white;
  font-family: "Monaco" , monospace;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active){
  background-color: #EDD100;
  color: black; 
}

.active{
  background-color: #EDD100;
  color: black;
}

/* Buttons*/

.submit {
  display: inline-block; 
  padding: 5px 15px; 
  font-size: 18px;
  cursor: pointer; 
  text-align: center;
  text-decoration: none;
  outline: none; 
  color: #EDD100;
  background-color: #005900;
  border:none; 
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.submit:hover{
  background-color: #EDD100 ;
  color: #005900;
}

.submit:active{
  background-color: #EDD100 ;
  color: #005900;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


/* weight slider */
.weight_slider{
  width: 50px;
}
