:root {
    --primary-color: #EDD100;
    --secondary-color: #005900;
}

.grid-container {
    display: grid;
    gap: 50px;
}

img {
    width: 100%;
}

.image-container {
    width: 100%;
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
}

.title-bar {
    background: var(--primary-color);
    font-weight: bold;
    font-size: 30pt;
    padding: 15px;
}

.card-container {
    box-shadow: 4px 3px 8px 1px #969696;
    -webkit-box-shadow: 4px 3px 8px 1px #969696;
    width: 100%;
}

.card-title {
    background: var(--primary-color);
    font-weight: bold;
    font-size: 30pt;
    padding: 15px;
}

.card-body {
    color: white;
    font-weight: bold;
    font-size: 20pt;
    background: var(--secondary-color);
    padding: 15px;
}

.recipe-list li {
    list-style-type: disc;
    list-style-position: inside;
    clear: both;
}
.recipe-list ul {
    list-style-type: disc;
    list-style-position: inside;
}


table {
    width: 100%;
    height: 100%;
    margin: auto;
    border-collapse: collapse;
}

th {
    text-decoration: underline;
    color: var(--primary-color);
    font-size: 30pt;
    text-align: left;
}

td {
    padding: 15px;
    border-bottom: 2px solid black;
}
